certifi==2026.7.22
cftime==1.6.5
click==8.5.0
cloudpickle==3.1.2
cplex==22.2.0.1
dask==2026.8.0
docplex==2.32.264
et_xmlfile==2.0.0
fsspec==2026.9.0
func_timeout==4.3.5
gurobipy==13.0.3
iniconfig==2.3.0
locket==1.0.0
netCDF4==1.7.4
numpy==2.5.3
openpyxl==3.1.5
packaging==26.3
pandas==3.0.6
partd==1.4.2
pip==26.2.1
pluggy==1.6.0
portalocker==4.4.0
psutil==7.2.2
Pygments==2.21.0
pypblib==0.0.4
pytest==9.1.1
python-dateutil==2.9.0.post0
python-sat==1.9.dev15
pytz==2026.3.post1
PyYAML==6.0.3
scipy==1.18.1
setuptools==81.0.0
six==1.17.0
stopit==1.1.2
toolz==1.1.0
tzdata==2026.4
wheel==0.48.0
xarray==2026.7.0
